* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: 5px dotted var(--primary) !important;
    outline-offset: 3px;
}

::selection {
    background-color: var(--primary);
    color: var(--lightColor);
}

:root {
    --darkColor: #000;
    --darkBg: #000;
    --lightColor: #fff;
    --lightBg: #fff;
    --primary: crimson;
    --btn: #54a9eb;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}



/* MyIcon start */

.my-icon {
    width: 65px;
    height: 65px;
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 100;
}

.my-icon__img {
    width: 100%;
    border-radius: 50%;
}

/* MyIcon end */



/* hero start */

.hero {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/bg_desktop.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 1;
}

.hero::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--darkBg);
    opacity: 0.5;
    z-index: -1;
}


.hero__title {
    width: 100%;
    max-width: 800px;
    font-weight: 700;
    font-size: 70px;
    color: var(--lightColor);
    margin-bottom: 10px;
}

.hero__btn {
    display: inline-block;
    padding: 5px 20px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    font-weight: 400;
    font-size: 30px;
    color: var(--lightColor);
    text-decoration: none;
    cursor: pointer;
    transition: 0.4s;
}

.hero__btn:hover {
    opacity: 0.8;
}

.hero__btn:active {
    opacity: 0.6;
    cursor: progress;
}

.btn__gift {
    --fa-animation-duration: 3s;
    --fa-animation-delay: 3s;
}

/* hero end */



/* tabrik start */

.tabrik {
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabrik__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.tabrik__img-wrap {
    width: 90%;
    height: 90%;
    max-width: 400px;
    position: relative;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    z-index: 1;
    margin-left: 30px;
}

.tabrik__img-wrap::after {
    content: '';
    width: 95%;
    height: 95%;
    position: absolute;
    top: 30px;
    right: 30px;
    border: 12px solid var(--primary);
    z-index: -1;
}

.tabrik__img-wrap:hover .tabrik__img {
    scale: 1.5;
}

.tabrik__img-box {
    overflow: hidden;
    border: 10px solid var(--lightBg);
}

.tabrik__img {
    width: 100%;
    display: flex;
    transition: 1s;
}

.tabrik__text-box {
    width: 100%;
    max-width: 500px;
    display: grid;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.tabrik__title {
    font-weight: 700;
    font-size: 35px;
    color: var(--darkColor);
}

.tabrik__text {
    font-weight: 400;
    font-size: 20px;
    color: var(--darkColor);
    cursor: text;
    user-select: none !important;
}

b.underline {
    font-weight: 600;
    user-select: text;
}

.btn {
    display: inline-block;
    padding: 5px 20px;
    font-size: 20px;
    border: 1px solid;
    background-color: var(--btn);
    color: var(--lightColor);
    border-radius: 10px;
    text-decoration: none;
    transition: 0.4s;
}

.btn:focus {
    outline: 5px dotted var(--btn) !important;
    outline-offset: 3px;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 0.6;
    cursor: progress;
}

/* tabrik end */



/* footer start */

.footer {
    padding-top: 5px;
    background-color: var(--darkBg);
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__title {
    font-weight: 400;
    font-size: 20px;
    color: var(--lightColor);
    text-decoration: none;
}

/* footer end */



/* @media start */

@media (max-width: 1024px) {

    .hero {
        background: url(../img/bg_pad.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

}

@media (max-width: 1020px) {

    .tabrik__container {
        flex-direction: column-reverse;
    }

}

@media (max-width: 425px) {

    .hero {
        padding: 0;
        background: url(../img/bg_phone.jpg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

}

@media (max-width: 375px) {

    .hero__title {
        font-size: 50px;
    }

}

@media (max-width: 320px) {

    .my-icon {
        width: 50px;
        height: 50px;
    }

}

/* @media end */